[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/duardopx/hugo-theme-hello-friend-ng
[submodule "unchained"]
	path = unchained
	url = https://github.com/duardopx/unchained
